

::ng-deep{

    .ion-page{
        background-color: #fff;;
    }

    ion-header{
        text-align: center;
        box-shadow: none;
        margin: 40px 0 40px;
    }

    ion-header img{
        width: 61px;
        height: auto;
    }

    ion-header .header-background{
        display: none !important;
    }

    .onboard-slider{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .onboard-slider .slide-image{
        text-align: center;
    }

    .onboard-slider .slide-image img{
        width: 281px;
    }

    .onboard-slider .slide-title{
        padding: 0 30px;
    }

    .onboard-slider .slide-title h1{
        margin: 0;
    }

    .onboard-slider .slide-text{
        padding: 0 30px;
        margin: 0 0 20px 0;
    }

    .onboard-slider .slide-text p{
        margin: 0;
    }

    .onboard-slider .slide-button{
        padding: 0 30px;
    }

    .onboard-slider .slide-button ion-button{
        width: 100%;
        --border-radius: 300px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        --background: #5433FE;
    }

    .onboard-slider .slide-button .iwin-button-theme .button-native{
        border-radius: 300px;
    }

}

:host {
    display: block;
    background-image: url('../../../assets/images/iwin-cover.png'); /* Caminho para a imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Altura total da tela */

    ion-content{
        --background: transparent;
    }

}

