
<ion-content>
  <div class="reset-content">
    <div class="content-image text-center">
      <img src="assets/images/iwin-send-message.png" alt="iwin-reset-sucess-image">
    </div>
    <div class="content-title iwin-title text-center">
      <h1>Tudo certo!</h1>
    </div>
    <div class="content-text text-center">
      <p>Te enviamos uma mensagem confirmando <br>
        a redefinição de sua senha.</p>
    </div>
    <ion-button type="button" class="iwin-button-theme" routerLink="/login">Continuar</ion-button>
  </div>
</ion-content>
