<ion-header>
  <div class="back-login">
    <button type="button" routerLink="/login"><ion-icon name="arrow-back-outline"></ion-icon></button>
  </div>
</ion-header>

<ion-content>
  <div class="reset-content">
    <div class="content-image text-center">
      <img src="assets/icon/iwin-icon-lock.png" alt="iwin-reset-password-image">
    </div>
    <div class="content-title iwin-title text-center">
      <h1>Redefinir senha</h1>
    </div>
    <div class="content-text text-center">
      <p>Insira sua nova senha:</p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="content-form">  
      <div class="form-group">
        <label for="password">Nova senha:</label>
        <input type="password" name="password" formControlName="password" placeholder="Digite aqui...">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmação de nova senha:</label>
        <input type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Digite aqui...">
      </div>

      <ion-toast
        [isOpen]="isToastOpen"
        message="As senhas não correspondem, verifique e tente novamente."
        [duration]="5000"
        (didDismiss)="setOpen(false)"
      ></ion-toast>
  
      <ion-button type="submit" class="iwin-button-theme">Continuar</ion-button>
    </form>
  </div>
</ion-content>
