<ion-header>
  <div class="back-login">
    <button type="button" routerLink="/login"><ion-icon name="arrow-back-outline"></ion-icon></button>
  </div>
</ion-header>

<ion-content>
  <div class="request-content">
    <div class="content-image text-right">
      <img src="assets/images/iwin-request-password.png" alt="iwin-resquest-password-image">
    </div>
    <div class="content-title iwin-title text-center">
      <h1>Esqueceu sua senha?</h1>
    </div>
    <div class="content-text text-center">
      <p>Informe seu email para redefinir sua senha:</p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="content-form">  
      <div class="form-group">
        <label for="login">E-mail ou número de telefone:</label>
        <input type="text" name="login" formControlName="login" placeholder="Digite aqui...">
      </div>
  
      <ion-button type="submit" class="iwin-button-theme" routerLink="/reset-success">Continuar</ion-button>
    </form>
  </div>
</ion-content>
