.back-login{
    text-align: left;
    padding: 0 30px;
    margin: 40px 0 0 0;
}

.back-login button{
    background: #5433FE;
    border: 1px solid #fff;
    padding: 2px 15px;
    border-radius: 42px;
    transition: 0.2s all;
}

.back-login button ion-icon{
    color: #fff;
    font-size: 30px;
    height: 24px;
}

.back-login button:hover,
.back-login button:focus{
    background: #5433FE;
    border: 1px solid #fff;
}

.back-login button:hover, 
.back-login button:focus ion-icon{
    color: #5433FE;
}

ion-content {
    --background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.request-content{
    padding: 0 30px;
    background-image: url('../../../assets/images/iwin-request-password-cover.png');
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.request-content .content-image {
    margin: 0 0 5px 0;
}

.request-content .content-image img{
    max-width: 100%;
    height: auto;
}

.request-content .content-title{
    margin: 0 0 5px 0;
}

.request-content .content-title h1{
    color: #fff;
    margin: 0;
    font-size: 30px;
}

.request-content .content-text{
    margin: 0 0 20px 0;
}

.request-content .content-text p{
    color: #C7C7C7;
    margin: 0;
}
   
.request-content .content-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


.iwin-button-theme{
    --background: #fff;
    --background-hover: #fff;
    --background-activated: #fff;
    --background-focused: #fff;
    width: 100%;
    --color: #5433FE;
    --border-radius: 300px;
    --padding-top: 25px;
    --padding-bottom: 25px;
    margin-top: 1rem;
}


.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    color: #ECECEC;
    font-weight: 400;
    line-height: 20.9px;
    font-size: 15px;
    padding: 0 20px;
    margin: 0 0 5px 0;
}

.form-group input{
    width: 100%;
    border: 1px solid #D4CCFF;
    background-color: rgba(212, 204, 255, 0.3);
    color: #ECECEC;
    border-radius: 61px;
    padding: 15px 20px;
}

.form-group input:focus-visible{
    outline: none;
}

.form-group input::placeholder{
    color: #B7B7B7;
}

:host {
    height: 100vh; 
    background: #5433FE;
    display: block;
    background-image: url('../../../assets/images/iwin-cover.png'); 
    background-size: cover;
    background-position: center; 
    background-blend-mode: overlay;
}