<ion-header>
  <img src="assets/images/iwin-logo-inverter.png" alt="logo_iwin">
</ion-header>


<ion-content>
  <div class="login-title iwin-title text-center">
    <h1>Bem-vindo! 👋</h1>
  </div>
  <div class="login-text iwin-text text-center">
    <p>Preencha as informações para realizar login
      ou crie sua conta:</p>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="login-form">
    <ion-button 
      value="usuario" 
      class="iwin-type-user iwin-text" 
      [ngClass]="{'active': form.get('userType')?.value === 'usuario'}" 
      (click)="selectUserType('usuario')">
        <img src="../assets/icon/icon-user-login.png" alt="iwin-user">
        <p>Usuário</p>
    </ion-button>

    <ion-button 
      value="lojista" 
      class="iwin-type-user iwin-text" 
      [ngClass]="{'active': form.get('userType')?.value === 'lojista'}" 
      (click)="selectUserType('lojista')">
        <p>Lojista</p>
        <img src="../assets/icon/icon-shopkeeper-login.png" alt="iwin-user">
    </ion-button>

    <div class="form-group">
      <label for="login">E-mail ou número de telefone:</label>
      <input type="text" name="login" formControlName="login" placeholder="Digite aqui...">
    </div>

    <div class="form-group">
      <label for="password">Sua senha:</label>
      <input type="password" name="password" formControlName="password" placeholder="Digite aqui...">
    </div>

    <div class="request-password text-right">
      <a href="#">Esqueceu sua senha?</a>
    </div>

    <ion-button type="submit" class="iwin-button-theme">Continuar</ion-button>

    <div class="request-password text-center">
      <a routerLink="/signup">Não tem uma conta? <b>Bora criar</b></a>
    </div>
  </form>
</ion-content>
